.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 40%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #eeeeee;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ffffff;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.surveyBtn
    border: 1px solid var(--ui-border-color-active)
    border-radius: 70px
    background-color: var(--default-color)
    color: var(--ui-gray-dark)
    line-height: 70px
    font-size: 30px
    padding: 0 40px
    outline: none
    cursor: pointer
    margin-right: 4px
    margin-left: 4px

    &:hover, &:active
        background-color: var(--ui-sky-blue)

    svg
        margin-right: 4px
        position: relative
        top: 2px