.rapid-confirm-form
    label
        display: block
        margin-bottom: 1rem
    
    span
        color: var(--text-secondary-color)
        font-size: 14px
        font-weight: 700

    .body
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        font-size: 20px

        .cell
            font-size: 20px
            padding: 10px

    .footer
        justify-content: center
        
        .submit-btn
            border: 1px solid var(--ui-border-color-active)
            border-radius: 25px
            background-color: var(--active-color)
            color: var(--ui-gray-dark)
            line-height: 25px
            padding: 0 20px
            outline: none
            cursor: pointer
            margin-right: 4px
            margin-bottom: 5px

            &:hover, &:active
                background-color: var(--ui-sky-blue)

            svg
                margin-right: 4px
                position: relative
                top: 2px
