.report-form
    display: flex
    flex-direction: column
    justify-content: center

    .header
        text-align: center
        
        .sign-btn
            border: 1px solid var(--ui-border-color-active)
            border-radius: 25px
            background-color: var(--active-color)
            color: var(--ui-gray-dark)
            line-height: 25px
            padding: 0 20px
            outline: none
            cursor: pointer
            margin-right: 4px
            margin-bottom: 5px

            &:hover, &:active
                background-color: var(--ui-sky-blue)

            svg
                margin-right: 4px
                position: relative
                top: 2px

        
        