.Stopwatch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: var(--primary-background-color);
  color: var(--default-color);
}

.Stopwatch button {
  background-color: var(--primary-background-color);
  color: var(--default-color);
  font-size: 20px;
}
.Stopwatch button:hover {
  background-color: #106ba3;
}
.Stopwatch button .play {
  color: var(--ui-state-error-border);
}
/* 
button {
  background-color: #202b33;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}
button:hover {
  background-color: #106ba3;
}
.Stopwatch button {
  padding: 12px 32px;
  font-size: 20px;
}
.Stopwatch-display {
  padding: 40px 0;
  font-size: 12px;
} */
